:root {
  --background: #ffffff;
  --foreground: #14213d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  text-align: center;
  margin: 0 auto;
}
.nav {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.nav a {
  float: left;
  color: #383838;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  color: black;
}

.nav a.active {
  background-color: #04aa6d;
  color: white;
}
.flex-container {
  display: flex;
  flex-direction: row;
}

.text-align-center {
  text-align: center;
}

.container {
  width: 1100px;
  margin: 0 auto;
  max-width: 100%;
  padding: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.flex-item {
  background: #f0f0f0;
  flex: 1 1 calc(33.333% - 20px);
  min-width: 250px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h4 {
    color: var(--foreground);
  }
}

/* Tablet: 2 columns */
@media (max-width: 900px) {
  .flex-item {
    flex: 1 1 calc(50% - 20px);
  }
}

/* Mobile: 1 column */
@media (max-width: 600px) {
  .flex-item {
    flex: 1 1 100%;
  }
}

/* the screen larger than 600 pixels? Make it two columns. */
/* @media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* Is the screen larger than 900 pixels? Make it three columns. */
/* @media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
} */

#typewriter {
  /* SpeedTypingGame.css */

  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans Mono", monospace;
    background-color: #e7e9e9;
  }

  .container {
    max-width: 650px;
    margin: 5px;
    width: calc(100% - 10px);
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  }

  input.input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
  }

  #paragraph {
    word-break: break-all;
    text-align: left;
  }
  .section {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    padding-top: 0;
  }
  .section1 {
    border-bottom: 1px solid #ced4da;
  }
  span {
    font-size: 20px;
    user-select: none;
    cursor: tex;
  }
  span.wrong {
    color: darkred;
    background-color: pink;
  }

  span.correct {
    color: #0e630e;
    background: #e7fbd3;
  }

  span.active {
    border-bottom: 3px solid #0a6bf9;
  }

  .section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  .section2 ul {
    padding-inline-start: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    width: calc(100% - 120px);
  }

  .section2 ul li {
    list-style-type: none;
    margin: 0 10px;
  }

  .section2 ul li p {
    margin: 5px;
    font-size: 12px;
  }

  .section2 ul li span {
    font-size: 18px;
  }

  button.btn {
    padding: 10px 20px;
    outline: none;
    border: 1px solid #ced4da;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #1d9bf0;
    color: #fff;
    font-size: 16px;
    transition: all 0.5s;
  }

  button.btn:hover {
    background-color: #1879ba;
  }

  @media screen and (max-width: 550px) {
    .section2 {
      flex-direction: column;
    }

    .section2 ul {
      width: 100%;
      justify-content: space-between;
    }

    button.btn {
      width: 100%;
      margin-top: 10px;
    }
  }
}

/* PacMan */
/* Write CSS Here */

.wall {
  width: 50px;
  height: 50px;
  background-color: #5e318c;
  display: inline-block;
}

.coin {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.ground {
  width: 50px;
  height: 50px;

  display: inline-block;
}

.ghost {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.pacman {
  width: 50px;
  height: 50px;
  display: inline-block;
}
