.item_container {
  /* background: #ef6549; */
  /* border-radius: 50%; */
  width: 100%;
  height: 180px;
  overflow: hidden;
  transform-origin: center;
  /* box-shadow: 0 0 0 3px #ef6549; */
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  transition: transform 0.2s;
}
.item_container:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02);
  cursor: pointer;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}
